@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

.navbar .collapse .navbar-nav .nav-item li a{
    font-size: 20px;
    font-weight: 200;
    font-family: 'Oswald', sans-serif;
}


nav .social-icon a{
padding:0.5em;
color:white;
text-decoration: none;
}

nav a:hover{
text-decoration: none;
}

